<h4 style="margin-top: 0px"><%= question['ref'] %>: <%= question['content'] %></h4>
<br/>
<h4><a href="#" id="question-segments-categories-collapse-all" accordian-state="hide">Categories</a></h4>
<div class="panel panel-default" id="question-segments-categories">
  <% categories.sort_by { |tuple| tuple[0].to_s }.each do | category, segments | %>
    <% 
      category_safe = (category || "na").gsub(/[^a-zA-Z0-9]+/,"")
      category_header_id = "collapse-category-#{category_safe}"
    %>
    <div class="panel-heading">
      <h3 class="panel-title"><a href="#<%= category_header_id %>" data-toggle="collapse"><%= category || "NA" %></a></h3>
    </div>
    <ul class="list-group query-matches panel-collapse collapse in" id="<%= category_header_id %>">
      <% segments[0...5].each do | segment | %>
        <li class="list-group-item">
          <div class="question-segment-body">
            <%= smart_paragraphs(segment[:content]) %>
          </div>
          <div class="row question-segment-footer">
            <div class="col-md-11 segment-meta">
              <span class="question-segment-query">
                <strong>Query:</strong>
                <code><%= segment[:query] %></code>
              </span>
              <span class="question-segment-organization">
                <strong>Organization:</strong>
                <%= segment[:organization] %>
              </span>
            </div> 
            <div class="badge-container-footer col-md-1">
              <span class="badge"><%= segment[:quality] %></span>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<h4><a href="#" id="question-segments-organizations-collapse-all" accordian-state="hide">Organizations</a></h4>
<div class="panel panel-default" id="question-segments-organizations">
  <% organizations.sort_by { |tuple| tuple[0].to_s }.each do | organization, segments | %>
    <% 
      organization_safe = (organization || "na").gsub(/[^a-zA-Z0-9]+/,"")
      organization_header_id = "collapse-organization-#{organization_safe}"
    %>
    <div class="panel-heading">
      <h3 class="panel-title"><a href="#<%= organization_header_id %>" data-toggle="collapse"><%= organization || "NA" %></a></h3>
    </div>
    <ul class="list-group query-matches panel-collapse collapse in" id="<%= organization_header_id %>">
      <% segments[0...5].each do | segment | %>
        <li class="list-group-item">
          <div class="question-segment-body">
            <%= smart_paragraphs(segment[:content]) %>
          </div>
          <div class="row question-segment-footer">
            <div class="col-md-11 segment-meta">
              <span class="question-segment-query">
                <strong>Query:</strong>
                <code><%= segment[:query] %></code>
              </span>
            </div> 
            <div class="badge-container-footer col-md-1">
              <span class="badge"><%= segment[:quality] %></span>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
