<h4 style="margin-top: 0px"><%= question['ref'] %>: <%= question['content'] %></h4>
<br/>
<h4><a href="#" id="question-segments-categories-collapse-all" accordian-state="hide">Categories</a></h4>
<div class="panel panel-default" id="question-segments-categories">
  <% categories.sort_by { |tuple| tuple[0].to_s }.each do | category, segments | %>
    <% 
      category_safe = (category || "na").gsub(/[^a-zA-Z0-9]+/,"")
      category_header_id = "collapse-category-#{category_safe}"
    %>
    <div class="panel-heading">
      <h3 class="panel-title"><a href="#<%= category_header_id %>" data-toggle="collapse"><%= category || "NA" %></a></h3>
    </div>
    <ul class="list-group query-matches panel-collapse collapse in" id="<%= category_header_id %>">
      <% segments.each do | segment | %>
        <li class="list-group-item">
          <%= smart_paragraphs(segment[:content]) %>
          <br/>
          <span class="label label-default"><%= segment[:query] %></span>
          <span class="badge"><%= segment[:quality] %></span>
          <span class="label label-default"><%= segment[:organization] %></span>          
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<h4><a href="#" id="question-segments-organizations-collapse-all" accordian-state="hide">Organizations</a></h4>
<div class="panel panel-default" id="question-segments-organizations">
  <% organizations.sort_by { |tuple| tuple[0].to_s }.each do | organization, segments | %>
    <% 
      organization_safe = (organization || "na").gsub(/[^a-zA-Z0-9]+/,"")
      organization_header_id = "collapse-organization-#{organization_safe}"
    %>
    <div class="panel-heading">
      <h3 class="panel-title"><a href="#<%= organization_header_id %>" data-toggle="collapse"><%= organization || "NA" %></a></h3>
    </div>
    <ul class="list-group query-matches panel-collapse collapse in" id="<%= organization_header_id %>">
      <% segments.each do | segment | %>
        <li class="list-group-item">
          <%= smart_paragraphs(segment[:content]) %>
          <br/>
          <span class="label label-default"><%= segment[:query] %></span>
          <span class="badge"><%= segment[:quality] %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
