<div class="row">
  <div class="col-md-4">
    <div class="row dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%">
        <%= camelize(navigation) %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%">
        <li><a href="/browser?navigation=timeline&ppn=<%= ppn %>">Timeline</a></li>
        <li><a href="/browser?navigation=organizations&ppn=<%= ppn %>">Organizations</a></li>
        <li><a href="/browser?navigation=queries&ppn=<%= ppn %>">Queries</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-8"></div>
</div>
<div class="row" style="margin-top: 20px">
  <div class="col-md-4">
    <div class="row text-left">
      <%= render_navigation(navigation, locals) %>
    </div>
  </div>
  <div class="col-md-8 text-left">
    <%= render_view(view, locals) %>
  </div>
</div>