<div class="panel panel-default">
  <% grouped_submissions.each do | key, submission_group | %>
    <div class="panel-heading">
      <h5 class="panel-title">
        <a href="#collapse<%= key[:orgid] %>" data-toggle="collapse"><%= key[:organization] %></a>
      </h5>
    </div>

    <ul class="list-group collapse in" id="collapse<%= key[:orgid] %>">
      <% submission_group.each do | submission | %>
        <li class="list-group-item">
          <a href='<%= "/browser?ppn=#{ppn}&submission=#{submission[:id]}&navigation=organizations" %>'>
            <%= "#{submission[:case]}-#{submission[:name]}" %>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>