<ul class="list-group">
  <% questions.sort_by { |q| q['ref'].scan(/\d+/).map(&:to_i) }.each do | q | %>
    <li class="list-group-item">
      <b><%= q.ref %></b>: <%= q['content'] %><br/><br/>
      <a class="btn btn-default btn-xs btn-primary" href='<%= "/browser?ppn=#{ppn}&question=#{q['id']}&navigation=questions&detail=question_info" %>'>
        Summary
      </a>
      <a class="btn btn-default btn-xs btn-primary" href='<%= "/browser?ppn=#{ppn}&question=#{q['id']}&navigation=questions&detail=question_segments" %>'>
        Segments
      </a>
      <a class="btn btn-default btn-xs btn-primary" href='<%= "/browser?ppn=#{ppn}&question=#{q['id']}&navigation=questions&detail=question_queries" %>'>
        Link Queries
      </a>
      <a class="btn btn-default btn-xs btn-primary" href='<%= "/csv/#{q['id']}" %>'>
        CSV
      </a>
    </li>
  <% end %>
</ul>