<div class="panel panel-default">
  <% grouped_submissions.each do | date_arrived, submission_group | %>
    <div class="panel-heading">
      <h5 class="panel-title"><a href="#collapse<%= date_arrived %>" data-toggle="collapse"><%= int_to_datestr(date_arrived) %></a></h5>
    </div>
    <ul class="list-group query-matches collapse in" id="collapse<%= date_arrived %>">
      <% submission_group.each do | submission | %>
        <li class="list-group-item">
          <a href='<%= "/browser?ppn=#{ppn}&submission=#{submission[:id]}&navigation=timeline" %>'>
            <%= "#{submission[:name]}#{!submission[:author].empty? ? ': ' : ''}#{submission[:author]}" %>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>